<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{{#error}}
    {{error}}
{{/error}}


{{#buName}}
    {{#buJsonObject}}
        Business Unit Json Object:
        <br>
        {{buJsonObject}}
        <br>
        <br>
    {{/buJsonObject}}


    Get List of Employees, will print out below
<form action="/getEmployeesOfBU" method="get">
    <input type="text" value="{{buName}}" name="buName">
    <button type="submit">Get Employees of BU {{buName}}</button>
</form>

    {{#employees}} {{.}} {{/employees}}
<br>
    <br>

    Add an Employee to {{buName}}
<form action="/addEmployee" method="post">
    <input type="text" value="{{buName}}" name="buName">
    <input type="text" placeholder="Name of Employee" name="employeeName">
    <button type="submit">Add Employee To BU</button>
</form>

    <br>
    <br>

    Select an Employee to View, employee must be apart of {{buName}} and in the system
<form action="/getEmployeeInfo" method="get">
    <input type="text" placeholder="Name of Employee To Get" name="employeeName"/>
    <input type="text" value="{{buName}}" name="buName">
    <button type="submit">Get Employee Info</button>
</form>

    <br>
    <br>

    Don't Use!!
<form action="/getBUSkills" method="get">
    <input type="text" value="{{buName}}" name="buName"/><br>
    <button type="submit">Get BU Foundational Skills</button>
</form>
<br>
    <br>
Add Skills to {{buName}}'s Skill Tree
<form action="/addSkillsToBU" method="post">
    <input type="text" value="{{buName}}" name="buName"/><br>
    <input type="text" placeholder="Skill" name="skillName"/><br>
    <button type="submit">ADD Skill to Business Unit</button>
</form>
<br>
<br>

View Skill Tree Report Employee against {{buName}}'s Skill Tree
<form action="/compareEmpToBUSkills" method="get">
    <input type="text" value="{{buName}}" name="buName" hidden/><br>
    <input type="text" placeholder="Employee Name" name="employeeName"/><br>
    <button type="submit">Employee's Skill Tree</button>
</form>
<br>
<br>

    View Skill Tree for {{buName}} (JSON response will print below)
    <form action="/getBUSkillsTree" method="get">
        <input type="text" value="{{buName}}" name="buName" hidden>
        <button type="submit">View Skill Tree</button>
    </form>

    <br>
    <br>

    {{#skillTree}}
        {{skillTree}}
    {{/skillTree}}

<br>
    <br>

<form action="/" method="get">
    <button type="submit">Go To Front Page</button>
</form>
{{/buName}}
</body>
</html>