<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{{#employeeName}} Perficient Employee {{employeeName}} of BU {{buName}} <br>

<b>has the necessary skills below needed for their business unit </b>(which should be colored green)
<br>
<br>
{{#skills}}
    {{.}}<br>
{{/skills}}
<br>
<br>
<b>Does not have the Skills </b> (skills should remain white)
<br>

<br>
{{#nonSkills}}
    {{.}}<br>
{{/nonSkills}}


{{/employeeName}}

<form action="/" method="get">
    <button type="submit">Go Home</button>
</form>

</body>
</html>