<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{{#Employee}} Employee {{employeeName}} has the necessary skills below needed for {{projectName}}

{{#skills}}
    {{skills}}
{{/skills}}

Does not have the Skill for {{projectName}}

{{#nonSkills}}
    {{.}}
{{/nonSkills}}


{{/Employee}}

<form action="/" method="get">
    <button type="submit">Go Home</button>
</form>

</body>
</html>