<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{{#Employee}}
Perficient Employee: <b>{{employeeName}}</b> role: {{employeeRole}} Project: {{#ProjectWorkingOn}} {{ProjectWorkingOn}} {{/ProjectWorkingOn}} skills:{{#SKILLS_POSSESSED}} {{SKILLS_POSSESSED}} {{/SKILLS_POSSESSED}}

Enter Skill for Employee {{employeeName}}
<form action="/addSkillToEmployee" method="post">
    <input type="text" value="{{employeeName}}" name="empName">
    <input type="text" placeholder="Name of Skill" name="skillName"/><br>
    <input type="text" placeholder="Expertise (1-5)" name="expertise"/><br>
    <input type="text" placeholder="Expertise Description" name="descrExpertise"/><br>
    <button type="submit">ADD Skill</button>
</form>

<form action="/employeeSkills" method="get">
    <input type="text" value="{{employeeName}}" name="name">
    <button type="submit">Get SKills</button>
</form>

<form action="/compareEmpToSkills" method="get">
    <input type="text" value="{{employeeName}}" name="employeeName">
    <input type="text" placeholder="Project Name" name="projectName">
    <button type="submit">Compare Employee skillset against Project essential skills</button>
</form>
<form action="/editEmployee" method="post">
    <input type="text" value="{{employeeName}}" name="newName">
    <input type="text" placeholder="Edit Name of Employee" name="editNewName"/><br>
    <input type="text" placeholder="Edit Employee Role" name="editRole"/><br>
    <input type="text" placeholder="Edit Location" name="editLocation"/><br>
    <button type="submit">Edit Employee</button>
</form>
{{/Employee}}

<form action="/" method="get">
    <button type="submit">Go Home</button>
</form>
</body>
</html>