<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{{#employeeName}}
Perficient Employee: <b>{{employeeName}}</b> role: {{employeeRole}}

Enter Skill for Employee {{employeeName}}
<form action="/addSkillToEmployee" method="post">
    <input type="text" value="{{employeeName}}" name="employeeName">
    <input type="text" placeholder="Name of Skill" name="skillName"/><br>
    <input type="text" placeholder="Expertise (1-5)" name="expertise"/><br>
    <input type="text" placeholder="Expertise Description" name="expertiseDescription"/><br>
    <button type="submit">ADD Skill</button>
</form>

<form action="/employeeSkills" method="get">
    <input type="text" value="{{employeeName}}" name="employeeName">
    <button type="submit">Get SKills</button>
</form>

<form action="/editEmployeeSkill" method="post">
    <input type="text" value="{{employeeName}}" name="name">
    <input type="text" placeholder="Skill name" name="skillName">
    <input type="text" placeholder="Expertise Level" name="expertise">
    <input type="text" placeholder="Description" name="description">
    <button type="submit">Edit SKills</button>
</form>


<form action="/compareEmpToBUSkills" method="get">
    <input type="text" value="{{employeeName}}" name="employeeName">
    <input type="text" value="{{buName}}" name="buName">
    <button type="submit">View Your SKill Tree</button>
</form>
<form action="/editEmployee" method="post">
    <input type="text" value="{{employeeName}}" name="newName">
    <input type="text" placeholder="Edit Name of Employee" name="editNewName"/><br>
    <input type="text" placeholder="Edit Employee Role" name="editRole"/><br>
    <input type="text" placeholder="Edit Location" name="editLocation"/><br>
    <button type="submit">Edit Employee</button>
</form>
{{/employeeName}}

<form action="/" method="get">
    <button type="submit">Go Home</button>
</form>
</body>
</html>