<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>HI FROM HERE</h1>

<form action="/getEmployeeInfo" method="get">
    <input type="text" placeholder="Name of Employee To Get" name="text"/><br>
    <button type="submit">Get Employee Info</button>

</form>
<form action="/addEmployee" method="post">
    <input type="text" placeholder="Name of Employee To Get" name="newName"/><br>
    <input type="text" placeholder="Employee Role" name="role"/><br>
    <input type="text" placeholder="Location" name="location"/><br>
    <button type="submit">ADD Employee</button>
</form>

<form action="/skills" method="get">
    <button type="submit">Go To Skills Page</button>
</form>
</body>
</html>