<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Early Skills Matrix Prototype With Spring-Data-Neo4J</h1>


<form action="/employee" method="get">
    <button type="submit">Employee Page</button>
</form>


<form action="/project" method="get">
    <button type="submit">Project Page</button>
</form>

<form action="/BU" method="get">
    <button type="submit">GO TO A BU Page</button>
</form>

<form action="/skills" method="get">
    <button type="submit">Go To Skills Page</button>
</form>
</body>
</html>